@keyframes swing {
    0% {
      transform: rotate(0deg);
    }
    20% {
      transform: rotate(15deg);
    }
    40% {
      transform: rotate(-10deg);
    }
    60% {
      transform: rotate(5deg);
    }
    80% {
      transform: rotate(-5deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
.navbar{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px rgba(0, 0, 0, 0.2);
}
.nav-logo{
    display: flex;
    gap: 10px;
    animation: swing 2s ease-in-out infinite;
}
.nav-logo img{
    height: 130px;
    position: absolute;

}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: #626262;
    font-size: 20px;
    font-weight: 500;
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}
.nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #ff4141;
}
.nav-login-cart{
    display: flex;
    align-items: center;
    gap:45px;
}
.nav-login-cart button{
    height: 58px;
    width: 157px;
    outline: none;
    border:1px solid #7a7a7a;
    border-radius: 75px;
    color: #515151;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    background: white;
}
.nav-login-cart button:active{
    background: #f3f3f3;
}
.nav-cart-count{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 12px;
    background-color: #ff4141;
    color: white;
}
.nav-dropdown{
    display: none;
}


@media(max-width:1280px){
    .navbar{
        padding: 12px 50px;
    }
    .nav-logo img{
        width: 40px;
    }
    .nav-logo p{
        font-size: 25px;
    }
    .nav-menu{
        gap:30px;
        font-size: 16px;
    }
    .nav-login-cart{
        gap:30px;
    }
    .nav-login-cart button{
        height: 45px;
        width: 120px;
        font-size: 16px;
    }
    .nav-cart-count{
        margin-left: -40px;
        font-size: 12px;
    }
}
@media(max-width:1024px){
    .navbar{
        padding: 12px 30px;
    }
    .nav-logo{
        animation: none;
    }
    .nav-logo img{
        height: 45px;
    }
    .nav-menu{
        gap:25px;
        font-size: 14px;
    }
    .nav-login-cart button{
        height: 35px;
        width: 80px;
        font-size: 14px;
    }
    .nav-login-cart img{
        width: 30px;
    }
    .nav-cart-count{
        width: 18px;
        height: 18px;
    }
}
@media(max-width:800px){
    .navbar{
        padding: 10px 0px;
    }
    .nav-logo{
        animation: none;
    }
    .nav-logo img{
        height: 40px;
        left: 25px;
    }
    .nav-dropdown{
        display: block;
        width: 24px;
        transition: 0.5s;
        cursor: pointer;
        height: 26px;
        margin-top: 8px;
    }
    .nav-menu{
        display: none;
        height: 80px;
        width: 100%;
        position: absolute;
        background: white;
        justify-content: center;
        top: 50px;
        z-index: 999;
    }
    .nav-login-cart{
        display: none;
    }
    .nav-menu-visible{
        display: flex;
    }
    .nav-dropdown .open{
        transform: rotate(90deg);
    }
}
@media(max-width:500px)
{
    .navbar{
        justify-content: space-between;
        padding: 12px 0px;
        gap:0;
    }
    .nav-logo{
        animation: none;
    }
    .nav-logo img{
        height: 40px;
        left: 25px;
    }
    .nav-dropdown{
        top:50px;
        margin-right: 20px;
    }
    .nav-login-cart{
        transform: scale(0.8);
    }
}